.station-avatar{
    background-image: url('/assets/img/citybike_logo.jpg');
}

.station-card{
   width: 8.8em;
    margin: 0.2em;
    height: 10em;
    float: left;
}

.station-subtitle{
   word-break: break-all;
}