@color_1: green;

.station-avatar{
    background-image: url('/assets/img/citybike_logo.jpg');
}

.stations{
    display: flex;
    flex-flow: wrap;
}

.stations-list{
    list-style: none;
    padding: 0;
    margin: 0.5em 0;
}

.stations-list-item{
    margin: 0.2em 0;
    width: 15em;

    input{
        width: 100%;
    }
}

.station-card{
   width: 7.2em;
   margin: 0.1em;
   cursor: pointer;
}

.station-subtitle{
   word-break: break-all;
}

.green{
    color: @color_1;
}