@color_1: green;

.station-avatar{
    background-image: url('/assets/img/citybike_logo.jpg');
}

.stations{
    display: flex;
    flex-flow: wrap;
}

.station-card{
   width: 7.2em;
   margin: 0.1em;
   cursor: pointer;
}

.station-subtitle{
   word-break: break-all;
}

.green{
    color: @color_1;
}