<p class="error" *ngIf="errorMsg">{{errorMsg}}</p>

<div>
  <ul class="stations-list">
     <li class="stations-list-item"> <input type="number" placeholder="Free bikes at least..." [(ngModel)]="filter.free_bikes">
    </li> 
    <li class="stations-list-item"> <input type="number" placeholder="Bezirk..." [(ngModel)]="filter.uid">
    </li>
    <li class="stations-list-item"><input type="text" placeholder="Street..." [(ngModel)]="filter.name">
    </li>
  </ul>


  
</div>
<div class="stations">
  <md-card *ngFor="let station of stations | stationFilter:filter; let i=index " class="station-card"  [routerLink]="['/map', station.extra.uid]">
    <md-card-header>
      <div md-card-avatar class="station-avatar"></div>
      <md-card-title>Station {{ station.extra.uid }}</md-card-title>
      <md-card-subtitle class="station-subtitle">{{ station.name }}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <!--<p>{{ station.extra.description }}</p>-->
      <ul>
        <li class="green"> {{ station.free_bikes}} bikes</li>
        <li> {{ station.empty_slots}} empty slots</li>
      </ul>
    </md-card-content>
    <!--<md-card-actions>
      <button md-button>Find on map</button>
    </md-card-actions>-->
  </md-card>
</div>



